<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <div class="is-flex">
    {{ with .Params.featured_image }}
    <figure class="image is-48x48" style="margin-right: 0.5em;">
      <img class="is-rounded" style="height: 48px; width: 48px; max-width: 48px; max-height: 48px; object-fit: cover;" alt="{{ . }}" src="/{{ . }}" />
    </figure>
    {{ end }}
    <div>
      <div>{{ .Title }}</div>
    </div>
  </div>
  <div style="margin-top: 0.5em;">
    <span class="tag is-primary is-light">{{ .Params.Time }}</span>
    {{ range .Params.Tags }}
    <span class="tag">{{ . }}</span>
    {{ end }}
  </div>
</a>