{{ define "main" }}
<div class="section">
  <article class="container">
    <header>
      <div class="is-flex">
        {{ with .Params.featured_image }}
        <figure class="image is-96x96" style="margin-right: 0.5em;">
          <img class="is-rounded" style="width: 96px; height: 96px; max-width: 96px; max-height: 96px; object-fit: cover;" alt="{{ . }}" src="/{{ . }}" />
        </figure>
        {{ end }}
        <div>
          <h1 class="title is-1">
            {{ .Title }}
          </h1>
          <h6 class="subtitle is-6">
            {{ .Summary }}
          </h6>
        </div>
      </div>
      <div style="margin-top: 1em;">
        <span class="tag is-primary is-light">{{ .Params.Time }}</span>
        {{ range .Params.Tags }}
        <a class="tag" href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </div>
    </header>
    <div class="content" style="margin-top: 1em;">
      <div class="columns">
        <div class="column is-one-third">
          <h2>Ingredients</h2>
          <ul>
            {{ range .Params.Ingredients }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="column">
          {{ .Content }}
        </div>
      </div>
      
    </div>
  </article>
</div>
{{ end }}